body, p, li, a { font-family: georgia, times, serif;font-size:13pt;}
h1, h2, h3 { font-family: 'Yanone Kaffeesatz', arial, serif; }
body { margin:0;padding:0;}
#hd {
	width : 100%;
	height : 87px;
	background-color : #092E67;
	margin-top : 0;
	padding-top : 10px;
	border-bottom : 1px solid #888;
	z-index : 0;
}
#ft {
	position : absolute;
	bottom : 0;
	width : 100%;
	height : 99px;
	background-color : #6493D2;
	border-top : 1px solid #888;
	z-index : 0;
}
#logo,#bd {
	margin: 0 auto;
	padding: 25px 50px 0 50px;
}
#logo h1 {
	color : white;
	font-size:36pt;
	display: inline;
}
#logo img { 
	display:inline;
	vertical-align: bottom;
	margin-left : 15px;
	margin-right : 5px;
}
body { margin-top : 0; padding-top : 0;}
#logo, #logo h1 { margin-top : 0; padding-top : 0;}
#bd {
	position : absolute;
	top : 75px;
	bottom : 75px;
	min-width : 280px;
	margin : 0 25px;
	z-index : 1;
	overflow: auto;
	background-color : #fff;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-moz-box-shadow: 0px 0px 10px #888;
	-webkit-box-shadow: 0px 0px 10px #888;
	box-shadow: 0px 0px 10px #888;
}
a, a:visited, a:hover, a:active {
	color : #6493D2;
}
h2 {
	padding : 0; margin:0;
	font-size:36pt;
	color:#FF5500;
}
h3 {
	padding : 0; margin:0;
	font-size:24pt;
	color:#092E67;
}

/*====================================
  Our Modal Window styles
=====================================*/
.editable {
  background: #fff;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
  display: inline-block;
}

.editable > label {
  background: #FFD300;
  border: 1px solid #f0c600;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  text-shadow: 1px 1px 1px #fff;
  transition: all 0.55s;
  font-size: 1.2em;
}

.editable > label:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.editable__overlay {
  background: #fff;
  text-align: center;
  text-shadow: none;
  z-index: 600;
}

.editable__overlay {
  opacity: 0;
  display:none;
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  transition: all 0.75s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  z-index: -100;
}

.editable__overlay input {
  padding: 0px 0px;
  border-width: 0px;
  line-height: 1.5;
}

#editable__trigger {
  position: absolute;
  top: -1000px;
}

.editable__overlay {
  opacity: 0;
  display:none;
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  transition: all 0.75s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  z-index: -100;
}

#editable__trigger:checked ~ .editable__overlay {
  opacity: 1;
  display:inline-block;
  -webkit-transform: scale(1);
          transform: scale(1);
  z-index: 800;
}

#editable__trigger:checked ~ label {
  opacity: 1;
  display:none;
  z-index: -100;
}

.btn {
    border: 2px solid #092E67;
    background-color: #092E67;
    color: white;
    cursor: pointer;
    display: inline-block;
}

.btn:hover {
    background-color: #092E67;
    color: white;
    -webkit-transform: scale(1.01);
    transform: scale(1.01);
    transition: all 0.75s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

